# Database for testing
test/testdb.json

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/
src/*.js
*.js.map

# Dependency directories
node_modules

# Coverage
coverage

# Data folder
data
